lines (18 sloc)  530 Bytes
  
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Skill Details</title>
</head>
<body>
  <h1>My Skill</h1>
  <p>skill: <%= skill.skill %></p>
  <a href='/skills/<%= skillId %>/edit'>Edit skill</a>
  <form action='/skills/<%= skill.id %>?_method=DELETE' method='POST'>
    <button type='submit'>Delete</button>  
  </form>  
 
  <a href="/skills">Back to All Skills</a></br>
  <a href="/">Back to Home Page</a>
</body>
</html>